main {
    height: 80vh;
}


/* FORMULARIO */
form {
    color: aliceblue;
    float: right;
    display: flex;
    flex-direction: column;
}

button {
    width: 48%;
    color: #EB008B;
    border-radius: 15PX;
    border-color: aliceblue;
    font-weight: bolder;
}

.boton {
    display: inline-block;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
}

fieldset {
    width: 0 auto;
    margin: 2% 1%;
    /* From https://css.glass */
    background: rgba(235, 0, 139, 0.5);
    border-radius: 16px;
}

label {
    display: inline-block;
}

select {
    color: #EB008B;
    padding-left: 10px;
    padding-right: 10px;
    border-color: aliceblue;
    margin-left: 3%;
}

fieldset ::placeholder {
    color: #EB008B;
}

fieldset input,
fieldset textarea {
    color: #EB008B;
    padding-left: 30px;
    border-radius: 15px;
    border-color: aliceblue;
}

fieldset textarea {
    resize: none;
    width: 100%;
    box-sizing: border-box;
}

.colform {
    display: flex;
    margin-top: 3%;

    input {
        padding-left: 0px;
    }
}