/* 
9pt = 12px = 0.75rem
10.5pt = 14px = 0.875rem
12pt = 16px = 1rem
13.5pt = 18px = 1.125rem
15pt = 20px = 1.25rem
18pt = 24px = 1.5rem
24pt = 32px = 2rem
30pt = 40px = 2.5rem
 */


:root {
    --violeta: #280e3f;
    --amarillo: #fdce00;
    --naranjita: #fdad00;
    --blanco: #ffffff;
}

.modoclaro {
    background-color: var(--blanco) !important;
}

.modooscuro {
    background-color: var(--violeta) !important;
}

/* PARA DESPUÉS */







.input {
    background-color: rgba(253, 173, 0, 0.08);
    border-color: #280e3f;
}

textarea {
    background-color: rgba(253, 173, 0, 0.08);
    border-color: #280e3f;
}

@font-face {
    font-family: 'Slackey';
    src: url(./Slackey-Regular.ttf);
}

@font-face {
    font-family: 'Montserrat';
    src: url(./Montserrat-VariableFont_wght.ttf);
}


main {
    margin: 0% 10%;
    font-size: 1.3rem;
    margin-top: 25vh;
    margin-bottom: 25vh;
}


* {
    padding: 0;
    margin: 0 auto;
    scroll-behavior: smooth;
}

body {
    background-color: #ffffff;
    background-blend-mode: darken;
    color: #280e3f;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 350;
    font-style: normal;
    margin: 0;
    padding: 0;
}


/* ------------------------------------------------------------------------------------------- */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1% 10%;
    background-color: rgb(40, 14, 63, 0.98);
}





.container-fluid {
    margin: 0;
    /* sin margen propio, ya lo da el header */
    padding: 0;
    width: 100%;
    max-width: 100%;
}


.navbar-brand img {
    border-radius: 0;
    filter: drop-shadow(0 5px 10px rgb(8, 2, 14));
}

.navbar-nav {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.nav-link {
    color: #ffffff;
    font-family: "Slackey", sans-serif;
    filter: drop-shadow(0 5px 10px rgb(8, 2, 14));
    letter-spacing: 1px;
    font-size: 1.5rem;
    font-weight: 500;
}


.nav-link:hover {
    color: #fdce00;
    transform: translateY(-3px);
    transition: all 0.5s ease-in-out;
    cursor: pointer;
}





a {
    text-decoration: none;
    color: #ffffff;
}

a:hover {
    color: #fdce00;
    transform: translateY(-3px);
    transition: all 0.5s ease-in-out;
    cursor: hand;
}

/* ------------------------------------------------------------------------------------------- */



.contenedor {
    display: flex;
    column-gap: 5%;
    justify-content: flex-start;
    align-items: flex-start;
    justify-content: space-between;
    align-items: start;
    margin: 10% 0%;
}

.contenido {
    width: 47%;
}

i {
    color: #ffffff;
    /* icons */
}

img {
    border-radius: 20px;
}



/* ------------------------------------------------------------------------------------------- */
/* CON AYUDA DE CHAT GPT */
h1 {
    font-size: 2.5rem;
    font-weight: 900;
    text-align: center;
    animation: estira 3s ease-in-out 0.8s 1 forwards;
}

@keyframes estira {
    0% {
        letter-spacing: 0vw;
    }

    50% {
        letter-spacing: 2.5vw;
        filter: blur(3px);
    }

    100% {
        letter-spacing: 0vw;
    }
}

h1:hover {
    animation: estiraHover 3s ease-in-out 1 forwards;
}

@keyframes estiraHover {
    0% {
        letter-spacing: 0vw;
    }

    50% {
        letter-spacing: 2.5vw;
        filter: blur(3px);
    }

    100% {
        letter-spacing: 0vw;
    }
}

/* ------------------------------------------------------------------------------------------- */

h2 {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 900;
}

h3 {
    font-size: 1.5rem;
    font-weight: 700;
}


.hero {
    height: 78vh;

    background-image: url(./imagenes/fotoFiesta4.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-bottom: 3%;
}



.heroimg {
    border-radius: 0%;
    position: absolute;
    top: 25vh;
    z-index: 800;
    width: 40vw;
    margin: 0% 20%;

    -webkit-animation: heroimg 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: heroimg 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/* ----------------------------------------------
 * Generated by Animista 
 * ----------------------------------------
 * animation scale-down-center
 * ----------------------------------------
 */
@-webkit-keyframes heroimg {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        filter: blur(50px);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        filter: blur(0px) drop-shadow(0 10px 20px rgb(8, 2, 14));
    }
}

@keyframes heroimg {
    0% {
        -webkit-transform: scale(2);
        transform: scale(2);
        opacity: 0;
        filter: blur(50px);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 1;
        filter: blur(0px) drop-shadow(0 10px 20px rgb(8, 2, 14));
    }
}



/* ------------------------------------------------------------------------------------------- */
footer {
    margin-top: 15%;
    padding: 2% 0%;
    background-color: #280e3f;
    color: #ffffff;
    font-size: 1rem;

    img {
        border-radius: 0;
    }

    p {
        text-align: center;
        line-height: 1;
        margin-bottom: 0.5rem;
    }
}




/* ------------------------------------------------------------------------------------------- */

/* -------------------------------------  MEDIA QUERY  --------------------------------------- */

/* ------------------------------------------------------------------------------------------- */


@media (max-width:480px) {
    h1 {
        font-size: 1rem;
    }

    main {
        margin: 0% 5%;
        font-size: 1rem;
        margin-top: 20vh;
        margin-bottom: 15vh;

    }

    .heroimg {
        width: 70vw;
        margin: 0%;
    }

    .hero {
        margin-bottom: 5%;
    }

    .contenido {
        width: 100%;
    }

    .contenedor {
        display: block;
    }
}

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------- */

/* --------------------------          MEDIA QUERIES        ---------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {}

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 993px) {}

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 769px) {}

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 480px) {
    .nav-link {
        font-size: 1rem;
        line-height: 0.1;
    }

    #margfooter {
        margin-left: 5%;
    }

    h2 {
        margin-top: 5vh;
    }

}