article p {
    text-align: center;
    color: #fdad00;
    font-weight: 500;
}

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------- */

/* --------------------------          MEDIA QUERIES        ---------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {

}

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 993px) {

}

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 769px) {

}

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 577px) {
article p {
font-size: 1rem;
}
}