header {
    margin: 0%;
}

main {
    margin-top: 0vh;
}


.btn {
    color: #ffffff;
    background-color: #280e3f;
}

.btn-primary {
    color: #ffffff;
    background-color: #280e3f;
    border-color: #280e3f;
}




#cuenta,
#dias {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    color: white;
    z-index: 1000;
}

#cuenta {
    margin-top: -55vh;
    font-family: "Slackey", sans-serif;
    font-size: 5rem;
    letter-spacing: 1px;
}

#dias {
    font-family: "Slackey", sans-serif;
    font-size: 4rem;
    letter-spacing: 1px;
}

#cuenta span,
#dias span {
    width: 25%;
    display: inline-block;
    text-align: center;
        filter: drop-shadow(0 5px 10px rgb(8, 2, 14));
}





#ubi {
    margin-top: 5vh;
    z-index: 1000;
    display: flex;
    font-size: 3rem;
    font-weight: 800;
    color: #ffffff;
        filter: drop-shadow(0 5px 10px rgb(8, 2, 14));
}

#ubi a:hover {
    color: #ffffff;
    transform: translateY(0px);
    transition: all 0.5s ease-in-out;
    cursor: hand;

    filter: drop-shadow(0 0 3px #fdad00) drop-shadow(0 0 7px #fdad00);
}




#imgCuenta {
    z-index: 900;
    max-width: 100vw;
    margin-left: calc(50% - 50vw) !important;
    margin-right: calc(50% - 50vw) !important;
    margin-top: 0;
    margin-bottom: 0;
    border-radius: 0;
    display: block;

    overflow-x: hidden;
}

.btnbtn-primary:hover {
    box-shadow: inset 0 0 0 .25rem rgb(253, 173, 0, .3);
}

.btn-primary[aria-expanded="true"] {
    color: #ffffff;
    background-color: #fdad00;
    border-color: #fdad00;
}

.btn-check:focus+.btn-primary,
.btn-primary:focus {
    color: #ffffff;
    background-color: #fdad00;
    border-color: #fdad00;
    box-shadow: 0 0 0 .25rem rgb(253, 173, 0, .3);
}




/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */


/* ------------------------------------------------------------------------------------------- */

/* --------------------------          MEDIA QUERIES        ---------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 1200px) {
   #ubi {
    font-size: 2.5rem;
   } 
   
#cuenta {
    font-size: 4.5rem;
    margin-top: -45vh;
}

#dias {
    font-size: 3.5rem;
}
}

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 993px) {
   #ubi {
    font-size: 1.8rem;
   } 
   
#cuenta {
    font-size: 3.8rem;
    margin-top: -40vh;
}

#dias {
    font-size: 2.8rem;
}
}

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 769px) {
   #ubi {
    font-size: 1.3rem;
   } 
   
#cuenta {
    font-size: 3.3rem;
    margin-top: -30vh;
}

#dias {
    font-size: 2.3rem;
}
}

/* ------------------------------------------------------------------------------------------- */

@media screen and (max-width: 577px) {
   #ubi {
    font-size: 1rem;
   } 
   
#cuenta {
    font-size: 2.5rem;
    margin-top: -25vh;
}

#dias {
    font-size: 1.5rem;
}

/* #imgCuenta {
    min-width: 150vw;
    overflow: hidden;
} */
}